.solution {
  flex: 3;
  background-color: var(--slate-800);
  border-radius: 24px;
  padding: 2rem;
  color: var(--slate-100);
}
.total {
  text-align: center;
  font-size: 24px;
  letter-spacing: -0.1em;
  margin-bottom: 2rem;
}
.tanks-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 1rem;
}
.button-container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
.button-container button {
  width: 70px;
  font-size: 12px;
  background-color: var(--slate-400);
  color: var(--background);
  padding: 8px 2px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.button-container button:active {
  transform: scale(0.95);
}
.button-container button:first-child {
  background-color: #10b981;
}
.button-container button:last-child {
  background-color: #e11d48;
}
@media screen and (max-width: 1024px) {
  .solution {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .solution {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}
