.container {
  width: 100%;
  min-height: 100lvh;
  padding: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  position: relative;
}
h1 {
  font-size: 100px !important;
  letter-spacing: -0.1em;
  line-height: 0.8;
}
.image-container {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: auto;
  img {
    border-radius: 12px;
    mix-blend-mode: multiply;
  }
}
main {
  display: flex;
  gap: 2rem;
  width: 100%;
  flex: 1;
}

.problem-statement {
  flex: 1;
}
ul {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
ul li {
  font-size: 16px;
  letter-spacing: -0.08em;
  font-weight: 500;
}
.problem-statement h2 {
  text-align: center;
  font-size: 28px;
  letter-spacing: -0.09em;
}

@media screen and (max-width: 1280px) {
  main {
    flex-direction: column;
  }
}
